# Temporary Files
Debug
*/Debug
*/Build
*/build
/build
*~
.vscode
.autotools
.cproject
.settings/language.settings.xml

# Doxygen
docs/doxygen/latex/
docs/doxygen/html/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app